@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  /* background-color: black; */
  color: lightgray;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
